body
{
    font-family: 'News Cycle', sans-serif;;
    color: white;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px #000; 
}

h1{
	font-size: 40px;
	margin-bottom: 20px;
	opacity: 0.8;
}

h2{
	font-size: 35px;
	margin-bottom: 10px;
	opacity: 0.8;
}

h3{
	font-size: 20px;
}

p{
	font-size: 14px;
}

/*========================================*/
	/*NAVBAR*/
/*========================================*/

#topnav{
	position: fixed;
	height: 100px;
	padding-top: 40px;
	width: 100%;
	z-index: 1000;
}

#topnav li{
	list-style-type: none;
	display: inline;
	margin: 20px;
	opacity: 0.6;
}

#topnav a{
	text-decoration: none;
	color: white;
}

#topnav a:hover{
	color: gray;
}

#footer{
	background-color: white;
	color: #E8A11C;
	text-align: center;
	padding: 2px;
	text-shadow: none;
}


/*========================================*/
	/*HOMEPAGE*/
/*========================================*/

.bg{
	position: relative;
	overflow: hidden;
}

#homepage_background{
	position: relative;
	background:url('../images/bhlb_home.jpg') no-repeat 50% 10%;
    background-size: cover;
    padding: 80px 20px;
}

.homeRow{
	position: absolute;
	top: 35%;
}

.page_header{
	text-align: center;
}

.page_header h2{
	font-size: 50px;
	line-height:1.7;
	margin-bottom: 0px;
	opacity: 0.6;
}

.page_header h1{
	font-size: 90px;
	color: #E8A11C;
	line-height:1.7;
	margin-top: -50px;
	margin-bottom: 0;
	text-shadow: 1px 1px 1px #000; 
}

.page-content{
	text-align: justify;
}

/*========================================*/
	/*LEARNING PAGE*/
/*========================================*/

#learning_background{
	position: relative;
	background:url('../images/lawn.jpg') no-repeat 100% 90%;
    background-size: cover;
    padding: 80px 20px;
}

.learning_page{
	text-align: center;
}

/*========================================*/
	/*TRADITIONS PAGE*/
/*========================================*/

#traditions_background{
	position: relative;
	background:url('../images/traditions.jpg') no-repeat 100% 100%;
    background-size: cover;
    height: 100%;
    padding: 80px 20px;
}

.traditions_page h2{
	margin-top: 0;
	font-size: 35px;
	color: #E8A11C;
}

/*========================================*/
	/*TALK PAGE*/
/*========================================*/

#talk_background{
	position: relative;
	background:url('../images/talk.jpg') no-repeat 100% 100%;
    background-size: cover;
    height: 100%;
    padding: 80px 20px;
}

.talk_content{
	text-align: center;
}

.talk_content h1{
	color: #E8A11C;
}

.talk_content h2{
	font-size: 25px;
	opacity: 0.8;
}

.talk_page{
	text-align: justify;
	position: absolute;
	bottom: 10%;
}

/*========================================*/
	/*CONTACT PAGE*/
/*========================================*/

#contact_background{
	position: relative;
	background:url('../images/contact.jpg') no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
    padding: 80px 20px;
}

.contact_page{
	opacity: 0.8;
}

.contact_page h1{
	color: #E8A11C;
}

.contactInfo{
	position: absolute;
	bottom: 10%;
}

/*========================================*/
	/*MEDIA QUERIES*/
/*========================================*/

@media only screen and (min-width: 320px){ 
	#topnav ul{
		margin-left: -20px;
	}

	#topnav li{
		margin: 10px;
	}

	h1{
		font-size: 30px;
	}
	h2{
		font-size: 21px;
	}

	.page_header h2{
		font-size: 21px;
	}

	.page_header h1{
		font-size: 30px;
		margin-top: 0;
	}
	.learning_page h1{
		font-size: 28px;
	}

	.talk_content h2{
	font-size: 21px;
	}
	iframe{
		width: 350px;
		height: 300px;
	}	
}

}

@media only screen and (min-width: 640px){ 
	iframe{
		width: 500px;
		height: 400px;
	}	
}

@media only screen and (min-width: 768px){ 
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 35px;
	}

	.page_header h2{
		font-size: 35px;
	}

	.page_header h1{
		font-size: 40px;
		margin-top: 0;
	}
	.learning_page h1{
		font-size: 40px;
	}

	.talk_content h2{
	font-size: 35px;
	}
	iframe{
		width: 800px;
		height: 475px;
	}	
}

@media only screen and (min-width: 1024px){ 
	.page_header h2{
		font-size: 50px;
	}

	.page_header h1{
		font-size: 90px;
		margin-top: -50px;
	}
}



